/*------------------------------------*\
  #ABOUT US PAGE
\*------------------------------------*/

%about {
  @include duk-gutter-horizontal($duk-double-spacing-unit);
  @include duk-gutter-vertical($duk-double-spacing-unit);

  &__title {
    @include duk-gutter-vertical($duk-half-spacing-unit);
  }

  &__body {
    @include duk-gutter-vertical($duk-half-spacing-unit);
  }
}

.node--type-page .node--view-mode-full {
  @extend %about;

  .title {
    @extend %about__title;
  }

  .body {
    @extend %about__body;
  }
}
