/*------------------------------------*\
  #ANIMAL PAGE
\*------------------------------------*/

%animal {
  @include duk-gutter-horizontal($duk-double-spacing-unit);
  @include duk-gutter-vertical($duk-double-spacing-unit);

  &__name {
    @include duk-gutter-vertical($duk-half-spacing-unit);
    display: inline;
  }

  &__voting-widget {
    float: right;
    padding-right: $duk-base-spacing-unit;
  }

  &__image {
    float: left;
  }

  &__type-container {
    padding: $duk-half-spacing-unit 0;
  }

  &__type-label {
    margin-left: $duk-half-spacing-unit;
    display: inline;
    color: $tertiary-text-color;
    font-weight: bold;
  }

  @media only screen and (max-width: 768px) {
    &__type-label {
      margin-left: 0;
    }
  }

  &__type-species {
    color: $tertiary-text-color;
    font-weight: bold;
    text-decoration: none;
  }

  &__description {
    width: $duk-massive-spacing-unit;
    float: inline-start;
    padding: $duk-half-spacing-unit;
  }

  @media only screen and (max-width: 768px) {
    &__description {
      width: auto;
      padding: $duk-half-spacing-unit 0;
    }
  }

  &__care-instructions {
    clear: both;
    line-height: $duk-base-spacing-unit;
  }

  &__heading {
    @include duk-gutter-vertical($duk-half-spacing-unit);
    font-weight: bold;
  }

  &__suitability {
    line-height: $duk-base-spacing-unit;
  }

  &__button {
    background-color: $primaryColor2;
    margin: $duk-half-spacing-unit 0;
    display: block;
    max-width: $duk-six-spacing-unit;
    border: 1px solid $primaryColor2;
  }

  &__button-text {
    text-align: center;
    text-decoration: none;
    color: $secondary-text-color;
  }
}


.node--type-animal .node--view-mode-full {
  @extend %animal;

  .vud-widget {
    @extend %animal__voting-widget;
  }

  .title, h2 {
    @extend %animal__name;
  }

  .image-style-large {
    @extend %animal__image;
  }

  .type {
    @extend %animal__type-container;

    .field-label-inline {
      @extend %animal__type-label;
    }

    .taxonomy-term {
      @extend %animal__type-species;
    }
  }

  .description {
    @extend %animal__description;
  }

  .pet-suitability {
    @extend %animal__suitability;
  }

  .care-instructions {
    @extend %animal__care-instructions;

    .field-label-above {
      @extend %animal__heading;
    }
  }

  .pet-suitability {
    .field-label-above {
      @extend %animal__heading;
    }
  }

  .animal__link {
    @extend %animal__button;

    a {
      @extend %animal__button-text;
    }
  }
}
