/*------------------------------------*\
  #ARTICLE PAGE
\*------------------------------------*/

%article {
  @include duk-gutter-horizontal($duk-double-spacing-unit);
  @include duk-gutter-vertical($duk-double-spacing-unit);

  &__title {
    @include duk-gutter-vertical($duk-half-spacing-unit);
  }

  &__date {
    @include duk-gutter-vertical($duk-half-spacing-unit);
    color: $tertiary-text-color;
  }

  &__content {
    @include duk-gutter-vertical($duk-half-spacing-unit);
  }

  &__image-container {
    display: inline-block;
    width: 100%;
  }

  &__image {
    @include duk-gutter-vertical($duk-half-spacing-unit);
    width: 100%;
    height: $duk-ten-spacing-unit;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  &__care-instructions {
    clear: both;
  }
}

%button {

  &__container {
    display: block;
    margin: $duk-base-spacing-unit auto;
    max-width: $duk-seven-spacing-unit;
    background-color: $primaryColor2;
    border: 1px solid $primaryColor2;
  }

  &__style {
    color: $secondary-text-color;
    text-decoration: none;
  }
}

.node--type-article .node--view-mode-full {
  @extend %article;

  .title {
    @extend %article__title;
  }

  .image {
    @extend %article__image-container;
  }

  .image-style-large {
    @extend %article__image;
  }

  .date {
    @extend %article__date;
  }

  .body {
    @extend %article__content;
  }

  .care-instructions {
    @extend %article__care-instructions;
  }
}

.block-region-bottom {
  @extend %button;

  .custom-button {
    @extend %button__container;

    a {
      @extend %button__style;
    }
  }
}
