/*------------------------------------*\
  #BROWSE ANIMALS PAGE
\*------------------------------------*/

%browse-animals {
  &__page-title {
    @include duk-gutter-horizontal($duk-double-spacing-unit);
    @include duk-gutter-vertical($duk-double-spacing-unit);
  }

  &__form-margin {
    @include duk-gutter-horizontal($duk-double-spacing-unit);
    @include duk-gutter-vertical($duk-double-spacing-unit);
  }

  &__form-item-center {
    display: block;
    margin: auto;
  }

  &__form-container {
    display: grid;
    justify-content: center;
    border-bottom: 1px solid $primary-text-color;
  }

  @media only screen and (max-width: 768px) {
    &__form-container {
      display: flex;
      flex-direction: column;
    }
  }

  &__form-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: $duk-half-spacing-unit;
  }

  @media only screen and (max-width: 768px) {
    &__form-name {
      margin-bottom: $duk-base-spacing-unit;
    }
  }

  &__form-dropdown {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__form-dropdown-padding {
    padding: $duk-half-spacing-unit;
    margin: 0 $duk-base-spacing-unit;
  }

  @media only screen and (max-width: 768px) {
    &__item-padding {
      margin-bottom: $duk-base-spacing-unit;
    }
  }

  &__form-button-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }

  &__form-button {
    color: $secondary-text-color;
    background-color: $primaryColor2;
    border: 1px solid $primaryColor2;
  }

  &__animal-grid {
    @include duk-gutter-horizontal($duk-base-spacing-unit);
    @include duk-gutter-vertical($duk-double-spacing-unit);
    display: grid;
    justify-content: center;
  }

  &__animal-col {
    width: unset;
  }

  &__animal-content {
    margin-bottom: $duk-base-spacing-unit;
  }

  &__animal-image {
    display: block;
    margin: 0 auto;
    padding: $duk-base-spacing-unit $duk-half-spacing-unit;
  }

  &__animal-name {
    display: block;
    text-align: center;
    padding-bottom: $duk-quarter-spacing-unit;
  }

  &__animal-link-container {
    display: block;
    text-align: center;
  }

  &__animal-link {
    text-decoration: none;
    color: $tertiary-text-color;
    font-size: small;
  }

  &__default-pager {
    // I couldn't get pagination working with my custom 'more news' button
    // unless I enabled a pager so I've hidden it.
    display: none;
  }

  &__button {
    margin: $duk-double-spacing-unit auto;
    display: block;
    background-color: $primaryColor2;
    border: 1px solid $primaryColor2;
    max-width: $duk-six-spacing-unit;
  }

  &__button-text {
    color: $secondary-text-color;
    text-decoration: none;
  }
}

.path-animals {
  @extend %browse-animals;

  .views-element-container {
    h2 {
      @extend %browse-animals__page-title;
    }
  }

  .views-exposed-form {
    @extend %browse-animals__form-margin;

    .form-item-title, .form-item-tid {
      @extend %browse-animals__form-item-center;
    }

    .form-item {
      @extend %browse-animals__item-padding;
    }

    .form--inline {
      @extend %browse-animals__form-container;

      .form-text {
        @extend %browse-animals__form-name;
      }

      .form-type-select {
        @extend %browse-animals__form-dropdown;
      }

      .form-select {
        @extend %browse-animals__form-dropdown-padding;
      }

      .form-actions {
        @extend %browse-animals__form-button-container;
      }

      .form-submit {
        @extend %browse-animals__form-button;
      }
    }
  }

  .views-view-grid {
    @extend %browse-animals__animal-grid;

    .views-col {
      @extend %browse-animals__animal-col;
    }

    .layout__region--content {
      @extend %browse-animals__animal-content;
    }

    .image-style-animals-teaser {
      @extend %browse-animals__animal-image;
    }

    h3 {
      @extend %browse-animals__animal-name;
    }

    .link {
      @extend %browse-animals__animal-link-container;

      a {
        @extend %browse-animals__animal-link;
      }
    }
  }

  .pager {
    @extend %browse-animals__default-pager;
  }

  .custom-button {
    @extend %browse-animals__button;

    a {
      @extend %browse-animals__button-text;
    }
  }
}
