/*------------------------------------*\
  #CONTACT US PAGE
\*------------------------------------*/

%contact {
  @include duk-gutter-horizontal($duk-double-spacing-unit);
  @include duk-gutter-vertical($duk-double-spacing-unit);

  &__page-title {
    @include duk-gutter-vertical($duk-half-spacing-unit);
    font-size: x-large;
    font-weight: bold;
  }

  &__detail-spacing {
    @include duk-gutter-vertical($duk-half-spacing-unit);
  }

  &__detail-labels {
    display: inline;
  }
}

%contact-form {
  @include duk-gutter-horizontal($duk-double-spacing-unit);
  @include duk-gutter-vertical($duk-double-spacing-unit);
  display: grid;

  &__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__labels {
    display: block;
  }

  &__name-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &__field-width {
    width: 100%;
    padding: $duk-half-spacing-unit 0;
  }

  &__last-name-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &__email-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  &__phone-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  &__enquiry-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  &__button-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  &__button {
    display: block;
    margin: 0 auto;
    background-color: $primaryColor2;
    color: $secondary-text-color;
    border: 1px solid $primaryColor2;
  }
}

@media only screen and (max-width: 768px) {
  %contact-form {
    display: flex;
    flex-direction: column;
  }
}

.view-contact {
  @extend %contact;

  .title {
    @extend %contact__page-title;
  }

  .address, .phone, .fax {
    @extend %contact__detail-spacing;

    .field-label-inline {
      @extend %contact__detail-labels;
    }
  }
}

.webform-submission-form {
  @extend %contact-form;

  h2 {
    @extend %contact-form__title;
  }

  .form-required {
    @extend %contact-form__labels;
  }

  .form-item-name {
    @extend %contact-form__name-container;
  }

  .form-name, #edit-email, .form-tel, .form-text, .form-subject {
    @extend %contact-form__field-width;
  }

  .form-item-last-name {
    @extend %contact-form__last-name-container;
  }

  .form-item-email {
    @extend %contact-form__email-container;
  }

  .form-item-subject {
    @extend %contact-form__phone-container;
  }

  .form-item-message {
    @extend %contact-form__enquiry-container;
  }

  .form-actions {
    @extend %contact-form__button-container;
  }
  .webform-button--submit {
    @extend %contact-form__button;
  }
}
