/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

%footer { 
	background-color: $primaryColor4;
	padding: $duk-double-spacing-unit;

	&__flex-container {
		display: flex;
		flex-direction: column; 	
	}

	&__logo {
		height: $duk-quint-spacing-unit;	
	}

	&__logo-container {
		display: flex;
		justify-content: center;
	}

	&__menu {
		display: inline-block;
	  text-align: center;
	}

	&__menu-container {
		margin: 0 auto;
	}

	@include breakpoint($breakpoint-tablet) {
		&__menu {	
		display: flex;
		justify-content: center;
		}	
	}

	&__mobile-menu {
		display: inline-block;
	  text-align: center;
	}

	&__list-item-link {
		color: $primary-text-color;
    text-decoration: none;
		padding: 0 $duk-half-spacing-unit;
		cursor: pointer;
    transition: .2s;
	}

	&__list-item-link:hover {
		color: $secondary-text-color;
	}

	&__list-item:not(:first-child)::before {
		visibility:  hidden;
	}

	@include breakpoint($breakpoint-tablet) {
	  &__list-item:not(:first-child)::before {
		content: '|';
		color: $primary-text-color;
		visibility: visible;
	}
}	

	&__slogan {
		display: flex;
		justify-content: center;
		padding: $duk-base-spacing-unit 0;
		text-align: center; 
	}
}

.footer-layout { 
	@extend %footer;

	.region--footer {
    @extend %footer__flex-container;
	}

	.menu--footer {
		@extend %footer__menu-container;
	}

	.menu {
		@extend %footer__menu;
    
		.menu-item {
			@extend %footer__list-item;
		}

		a {
			@extend %footer__list-item-link;
		}
	}

	img {
		@extend %footer__logo;
	}

	#logo {
		@extend %footer__logo-container;
	}

	p {
		@extend %footer__slogan;
	}
}
