/*------------------------------------*\
  #FRIENDS ARTICLES PAGE
\*------------------------------------*/

%article {
  @include duk-gutter-horizontal($duk-double-spacing-unit);
  @include duk-gutter-vertical($duk-double-spacing-unit);

  &__heading {
    padding: $duk-half-spacing-unit 0;
  }

  &__title {
    padding: $duk-half-spacing-unit 0;
    font-weight: bold;
  }

  &__body {
    padding: $duk-half-spacing-unit 0;
    border-bottom: 1px solid $primary-text-color;
  }

  &__button {
    background-color: $primaryColor2;
    margin: $duk-base-spacing-unit auto;
    display: block;
    max-width: $duk-seven-spacing-unit;
    border: 1px solid $primaryColor2;
  }

  &__button-text {
    text-align: center;
    text-decoration: none;
    color: $secondary-text-color;
  }
}

.path-friends-articles .article {
  @extend %article;

  &__heading {
    @extend %article__heading;
  }

  &__title {
    @extend %article__title;
  }

  &__body {
    @extend %article__body;
  }

  &__button {
    @extend %article__button;

    a {
      @extend %article__button-text;
    }
  }
}
