/*------------------------------------*\
  #HEADER
\*------------------------------------*/
%header {
  background-color: $primaryColor4;

  &__flex-container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: $duk-quint-spacing-unit;
  }

  @media only screen and (max-width: 768px) {
    &__list-item-link {
      visibility: hidden;

      &.visible {
        visibility: visible;
        color: $secondary-text-color;
        text-decoration: none;
        transition: .2s;
        background-color: $primaryColor4;
        padding: $duk-half-spacing-unit;
        text-align: left;
        display: block;
      }
    }

    &__menu-parent-block {
      padding-right: $duk-base-spacing-unit;

      &.visible {
        height: $duk-huge-spacing-unit;
      }
    }
  }

  @include breakpoint($breakpoint-tablet) {
    &__menu-parent-block {
      height: $duk-quint-spacing-unit;
    }

    &__menu {
      display: flex;
    }

    &__list-item-link {
      color: $primary-text-color;
      text-decoration: none;
      padding: 0 $duk-half-spacing-unit;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: $secondary-text-color;
      }
    }

    &__list-item {
      &:not(:first-child)::before {

        content: '|';
        color: $primary-text-color;
      }
    }
  }
}

  .header-layout {
    @extend %header;

    .region--header {
      @extend %header__flex-container;
    }

    .menu--main {
      @extend %header__menu-parent-block;
    }

    img {
      @extend %header__logo;
    }

    .menu {
      @extend %header__menu;
      @include vertical-align();

      .menu-item {
        @extend %header__list-item;

        a {
          @extend %header__list-item-link;
        }
      }
    }
  }

