/*------------------------------------*\
  #HOME PAGE
\*------------------------------------*/
%front-page {

  // HERO IMAGE SECTION
  &__hero-image-container {
    position: relative;
    text-align: center;
  }

  &__hero-image-text {
    color: $secondary-text-color;
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__hero-image {
    display: block;
    width: 100%;
  }

  &__hero-image-button {
    margin: $duk-base-spacing-unit auto;
    background-color: $primaryColor2;
    border: 1px solid $primaryColor2;
    display: block;
    max-width: $duk-seven-spacing-unit;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 768px) {
    &__hero-image-button {
      top: 70%;
    }
  }

  &__hero-image-button-text {
    color: $secondary-text-color;
    text-decoration: none;
  }

  // ABOUT SECTION
  &__about-section {
    width: 100%;
    padding: $duk-double-spacing-unit;
    text-align: center;
    background-color: $primaryColor4;
  }

  // ANIMALS SECTION
  &__heading {
    display: block;
    margin: $duk-base-spacing-unit 0;
    text-align: center;
  }

  &__animals-container {
    display: grid;
    justify-content: center;
  }

  &__animals-image {
    min-width: $duk-seven-spacing-unit;
    padding: $duk-half-spacing-unit;
  }

  @media only screen and (max-width: 768px) {
    &__animals-row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__animals-col {
      width: 100%;
      text-align: center;
    }

    &__animals-image {
      display: block;
      margin: 0 auto;
      min-width: 0;
      padding: 0;
    }

    &__animals-link-container {
      padding-bottom: $duk-base-spacing-unit;
    }
  }

  &__animals-center-items {
    margin: 0 auto;
    text-align: center;
  }

  &__animals-link {
    color: $tertiary-text-color;
    font-size: smaller;
    text-decoration: none;
  }

  &__custom-button {
    margin: $duk-double-spacing-unit auto;
    background-color: $primaryColor2;
    border: 1px $primaryColor2;
    display: block;
    max-width: $duk-seven-spacing-unit;
  }

  &__custom-button-text {
    color: $secondary-text-color;
    text-decoration: none;
  }

  // ARTICLES SECTION
  &__articles {
    padding: 0 $duk-quad-spacing-unit;
  }

  &__articles-row {
    display: grid;
    padding-bottom: $duk-base-spacing-unit;
  }

  &__articles-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-right: $duk-base-spacing-unit;
  }

  &__articles-image-container {
    margin: 0 auto;
    display: block;
    float: right;
  }

  &__articles-title-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__articles-title {
    color: $primary-text-color;
    font-weight: bold;
    text-decoration: none;
  }

  &__articles-body {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: small;
  }

  &__articles-date {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: small;
  }

  @media only screen and (max-width: 768px) {
    &__articles-image {
      margin: 0 auto;
      padding-right: 0;
    }

    &__articles-row {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__articles-content, &__articles-image, &__articles-title-container {
      padding-bottom: $duk-half-spacing-unit;
    }
  }

  // PET STORE FRIENDS SECTION
  &__friends-articles {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__friends-articles-left-container {
    margin-left: $duk-huge-spacing-unit;
  }

  &__friends-articles-image {
    max-width: $duk-massive-spacing-unit;
    padding-bottom: $duk-quad-spacing-unit;
    width: $duk-bigger-spacing-unit;
    object-fit: cover;
    height: $duk-massive-spacing-unit;
  }

  &__friends-articles-right-container {
    padding-left: $duk-base-spacing-unit;
    display: flex;
    flex-direction: column;
    margin-right: $duk-quad-spacing-unit;
  }

  &__friends-articles-heading {
    text-align: left;
    margin-bottom: $duk-double-spacing-unit;
  }

  &__friends-articles-comment {
    padding-bottom: $duk-double-spacing-unit;
  }

  &__friends-articles-small-container {
    border: 2px solid $primaryColor2;
    border-radius: 5px;
    background-color: $secondary-text-color;
    position: relative;
    transform: translateX($duk-neg-seven-spacing-unit);
    margin-bottom: $duk-double-spacing-unit;
  }

  &__friends-articles-title {
    padding: $duk-half-spacing-unit;
    font-weight: bold;
    text-align: left;
  }

  &__friends-articles-body {
    padding: $duk-half-spacing-unit;
  }

  &__friends-articles-button {
    background-color: $primaryColor2;
    border: 1px $primaryColor2;
    max-width: $duk-seven-spacing-unit;
  }

  &__friends-articles-button-text {
    color: $secondary-text-color;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    &__friends-articles {
      display: flex;
      flex-direction: column;
    }

    &__friends-articles-left-container {
      margin-left: 0;
      width: 100%;
    }

    &__friends-articles-image {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      height: auto;
    }

    &__friends-articles-right-container {
      margin: 0 auto;
      padding: 0;
    }

    &__friends-articles-heading, &__friends-articles-comment, &__friends-articles-button-text {
      text-align: center;
    }

    &__friends-articles-small-container {
      transform: none;
    }

    &__friends-articles-button {
      margin: $duk-base-spacing-unit auto;
    }
  }
}

.path-frontpage {

  // HERO IMAGE SECTION
  .view-hero-image-view {
    @extend %front-page__hero-image-container;

    .hero-image-text {
      @extend %front-page__hero-image-text;
    }

    img {
      @extend %front-page__hero-image;
    }

    .hero-image-button {
      @extend %front-page__hero-image-button;

      a {
        @extend %front-page__hero-image-button-text;
      }
    }
  }

  // ABOUT SECTION
  .field--name-body {
    p {
      @extend %front-page__about-section;
    }
  }

  // ANIMALS SECTION
  h2 {
    @extend %front-page__heading;
  }

  .view-animals-page {
    @extend %front-page__animals-container;

    .views-row {
      @extend %front-page__animals-row;
    }

    .views-col {
      @extend %front-page__animals-col;
    }

    .image-style-animals-teaser {
      @extend %front-page__animals-image;
    }

    .teaser-image, .name, .link {
      @extend %front-page__animals-center-items;
    }

    .link {
      @extend %front-page__animals-link-container;

      a {
        @extend %front-page__animals-link;
      }
    }
  }

  .custom-button {
    @extend %front-page__custom-button;

    a {
      @extend %front-page__custom-button-text;
    }
  }

  // ARTICLES SECTION
  .view-articles {
    @extend %front-page__articles;

    .views-row {
      @extend %front-page__articles-row;

      .views-field-field-image {
        @extend %front-page__articles-image;
      }

      .image-style-thumbnail {
        @extend %front-page__articles-image-container;
      }

      .views-field-title {
        @extend %front-page__articles-title-container;

        a {
          @extend %front-page__articles-title;
        }
      }

      .views-field-body {
        @extend %front-page__articles-body;
      }

      .views-field-created {
        @extend %front-page__articles-date;
      }

      .field-content {
        @extend %front-page__articles-content;
      }
    }
  }

  // PET STORE FRIENDS SECTION
  .article {
    @extend %front-page__friends-articles;

    .article__left {
      @extend %front-page__friends-articles-left-container;

      .article__image {
        @extend %front-page__friends-articles-image;
      }
    }
  }

  .article__right {
    @extend %front-page__friends-articles-right-container;

    .article__heading {
      @extend %front-page__friends-articles-heading;
    }

    .article__comment {
      @extend %front-page__friends-articles-comment;
    }

    .article__container {
      @extend %front-page__friends-articles-small-container;

      .article__title {
        @extend %front-page__friends-articles-title;
      }

      .article__body {
        @extend %front-page__friends-articles-body;
      }
    }

    .article__button {
      @extend %front-page__friends-articles-button;

      a {
        @extend %front-page__friends-articles-button-text;
      }
    }
  }
}
