/*------------------------------------*\
  #MENU ICON
\*------------------------------------*/
@media only screen and (max-width: 768px) {

  .menu-wrapper {
    display: flex;
    align-items: center;
    margin: auto;
    width: $duk-triple-spacing-unit;
    height: $duk-half-spacing-unit + $duk-base-spacing-unit*2;
    cursor: pointer;
  }

  .hamburger-menu,
  .hamburger-menu::after,
  .hamburger-menu::before {
    width: $duk-triple-spacing-unit;
    height: $duk-half-spacing-unit;
  }

  .hamburger-menu {
    position: relative;
    transform: translateY($duk-base-spacing-unit);
    background-color: $secondary-text-color;
    transition: all 0ms 300ms;

    &.animate {
      background-color: $primaryColor4;
    }
  }

  .hamburger-menu::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $duk-base-spacing-unit;
    background-color: $secondary-text-color;
    @include menu-transition-backward(bottom);
  }

  .hamburger-menu::after {
    content: "";
    position: absolute;
    left: 0;
    top: $duk-base-spacing-unit;
    background-color: $secondary-text-color;
    @include menu-transition-backward(top);
  }

  .hamburger-menu.animate::after {
    top: 0;
    transform: rotate(45deg);
    @include menu-transition-forward(top);
  }

  .hamburger-menu.animate::before {
    bottom: 0;
    transform: rotate(-45deg);
    @include menu-transition-forward(bottom);
  }
}
