/*------------------------------------*\
  #PET NEWS PAGE
\*------------------------------------*/
%articles {
  &__page-title {
    @include duk-gutter-horizontal($duk-twelve-spacing-unit);
    @include duk-gutter-vertical($duk-double-spacing-unit);
  }

  @media only screen and (max-width: 768px) {
    &__page-title {
      @include duk-gutter-horizontal($duk-double-spacing-unit);
      @include duk-gutter-vertical($duk-double-spacing-unit);
    }
  }

  &__wrapper {
    @include duk-gutter-horizontal($duk-double-spacing-unit);
    @include duk-gutter-vertical($duk-double-spacing-unit);
  }

  &__article-container {
    display: grid;
    padding-bottom: $duk-base-spacing-unit;
  }

  &__image-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  &__image {
    float: right;
    padding-right: $duk-base-spacing-unit;
  }

  &__title-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media only screen and (max-width: 768px) {
    &__title-container {
      padding-bottom: $duk-half-spacing-unit;
    }
  }

  &__title {
    color: $primary-text-color;
    font-weight: bold;
    text-decoration: none;
  }

  &__content-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: small;
  }

  @media only screen and (max-width: 768px) {
    &__content-container {
      padding-bottom: $duk-half-spacing-unit;
    }
  }

  &__date-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: small;
  }

  @media only screen and (max-width: 768px) {
    &__date-container {
      padding-bottom: $duk-half-spacing-unit;
    }
  }

  &__default-pager {
    // I couldn't get pagination working with my custom 'more news' button
    // unless I enabled a pager so I've hidden it.
    display: none;
  }

  &__button {
    margin: $duk-double-spacing-unit auto;
    display: block;
    background-color: $primaryColor2;
    border: 1px solid $primaryColor2;
    max-width: $duk-six-spacing-unit;
  }

  &__button-text {
    color: $secondary-text-color;
    text-decoration: none;
  }
}

.path-articles {
  @extend %articles;

  h2 {
    @extend %articles__page-title;
  }

  .view-content {
    @extend %articles__wrapper;
  }

  .pager {
    @extend %articles__default-pager;
  }

  .views-row {
    @extend %articles__article-container;

    .views-field-title {
      @extend %articles__title-container;

      a {
        @extend %articles__title;
      }
    }

    .views-field-field-image {
      @extend %articles__image-container;
    }

    .views-field-body {
      @extend %articles__content-container;
    }

    .views-field-created {
      @extend %articles__date-container;
    }

    .image-style-thumbnail {
      @extend %articles__image;
    }
  }

  .custom-button {
    @extend %articles__button;

    a {
      @extend %articles__button-text;
    }
  }
}
