// Default Variable Import
/// @import "omega-style-vars", "omega-default-style-vars";

/* SAMPLE SCSS FILE CONTENTS */

// Requires breakpoint-sass
@import "~breakpoint-sass/stylesheets/breakpoint";

// Set this to false if you do not want styles included (ie. just use mixins and functions).
$duk-include-styles: true;

// Override/extend any other settings in "scss/_settings.scss"

// Import duk.
@import "~@doghouse/duk/scss/duk";


$primaryColor1: #556270;
$primaryColor2: #4ECDC4;
$primaryColor3: #C7F464;
$primaryColor4: #FF6B6B;
$primaryColor5: #C44D58;

#site-branding .site-name-slogan {
    background-color: $primaryColor1;
}

footer {
    background-color: $primaryColor1;
}

* {
    background-color: red;
}