{#
/**
 * @file
 *
 * Default theme implementation for articles.
 */
#}

{% if is_front %}
  <div class="article">
    <div class = "article__left">
      <img class = "article__image" src="{{ base_path ~ directory }}/pet_news.jpg" />
    </div>
    <div class = "article__right">
      <h2 class="article__heading">Pet store friends</h2>
      <p class ="article__comment">Latest article from my mates</p>
      {% for post in posts %}
        <div class = "article__container">
          <div class="article__title">
            {{ post.title }}
          </div>
          <div class="article__body">
            {{ post.body }}
          </div>
        </div>
      {% endfor %}
      <div class = "button article__button">
        <a href="/friends-articles">More articles</a>
      </div>
    </div>
  </div>
{% else %}
  <div class="article">
    <h2 class="article__heading">Friends pet blog</h2>
    {% for post in posts %}
      <div class="article__title">
        {{ post.title }}
      </div>
      <div class="article__body">
        {{ post.body }}
      </div>
    {% endfor %}
    <div class = "button article__button">
      <a href="https://www.petbloglady.com/" target = "_blank">Friends website</a>
    </div>
  </div>
{% endif %}
