$primaryColor1: #556270;
$primaryColor2: #4ECDC4;
$primaryColor3: #C7F464;
$primaryColor4: #FF6B6B;
$primaryColor5: #C44D58;
$primary-text-color: black;
$secondary-text-color: white;
$tertiary-text-color: grey;
