$duk-quad-spacing-unit:         $duk-base-spacing-unit * 4 !default;    // 96px
$duk-quint-spacing-unit:        $duk-base-spacing-unit * 5 !default;    // 120px
$duk-six-spacing-unit:          $duk-base-spacing-unit * 6 !default;    // 144px
$duk-seven-spacing-unit:        $duk-base-spacing-unit * 7 !default;    // 168px
$duk-neg-seven-spacing-unit:    $duk-base-spacing-unit * -7 !default;   // -168px
$duk-ten-spacing-unit:          $duk-base-spacing-unit * 10 !default;   // 240px
$duk-twelve-spacing-unit:       $duk-base-spacing-unit * 12 !default;   // 288px
$duk-huge-spacing-unit:         $duk-base-spacing-unit * 13 !default;   // 312px
$duk-bigger-spacing-unit:       $duk-base-spacing-unit * 17 !default;   // 408px
$duk-massive-spacing-unit:      $duk-base-spacing-unit * 26 !default;   // 624px